//	Typography
.gigantic {
  font-family: $font-stack-heading;
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

h1, h2, h3 {
  font-family: $font-stack-heading;
}

.huge, h1 {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: white;

  @include breakpoint(sm) {
    font-size: 30px;
  }

  @include breakpoint(md) {
    font-size: 36px;
  }
}

.large, h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 105%;
  color: white;

  @include breakpoint(sm) {
    font-size: 30px;
  }

  @include breakpoint(md) {
    font-size: 36px;
  }
}

.bigger, h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: $pri-color;

  @include breakpoint(sm) {
    font-size: 20px;
  }

  @include breakpoint(md) {
    font-size: 24px;
  }
}

.big, h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 105%;
  color: $text-color;

  @include breakpoint(sm) {
    font-size: 16px;
  }

  @include breakpoint(md) {
    font-size: 18px;
  }
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}


p, ul {
  font-size: 13px;
  margin: 0 0 20px 0;

  @include breakpoint(md) {
    font-size: 100%;
  }
}

label {
  font-size: 13px;
  font-weight: 400;

  @include breakpoint(md) {
    font-size: 100%;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid $sec-color;
  border-width: 1px 0 0;
  clear: both;
  margin: 20px 0 20px;
  height: 0;

  @include breakpoint(sm) {
    margin: 40px 0 40px;
  }
}


// Links

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;

  @include transition-property (all);
  @include transition-duration(0.2s);
}
  
a:hover, a:focus {
  color: lighten($link-color, 20%);
  text-decoration: none;
}


// Selection colors (easy to forget)

::selection {
  background: $selection-color;
}
  
::-moz-selection {
  background: $selection-color;
}
  
img::selection {
  background: transparent;
}
  
img::-moz-selection {
  background: transparent;
}

img { -ms-interpolation-mode: bicubic; }
  
body {
  -webkit-tap-highlight-color: $selection-color;
}



// Basic Styles

body {
  background: $bg-color;
  font-family: $font-stack-paragraph;
  font-weight: 400;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

nav {
  display: block;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Sticky Nav

.stuck {
  position: fixed;
  top: 0;
  margin:0 auto;
  display: block;
  width:100%;
  z-index: 100;
}