
/* Scss Document */

/* Site Colors */
$pri-color: #2865af; //Blue
$sec-color: #d9e1e6; //Half Blue

$text-color: #50555e; //Deep Grey
$accent-color: #c90016; //Red
$cta-color: #ec483c; // Orange
$bg-color: white;
$link-color: $accent-color;
$selection-color: rgba($pri-color,0.4);


/* Media Queries */
@mixin breakpoint($point) {
  @if $point == xs {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == md {
    @media (min-width: 992px)  { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1200px)  { @content; }
  }
  @else if $point == print {
    @media print { @content; }
  }
  
  @else if $point == super-xs {
    @media (max-width: 500px) { @content; }
  }
  @else if $point == xs-split {
    @media (min-width: 500px) and (max-width: 767px) { @content; }
  }
  /* @include breakpoint(xs) { height:639px; } */
}


/*-- Windows Phone fix --*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/* END MQ */


/* Fonts */
$font-stack-heading: "Nunito", Helvetica, Arial, sans-serif;
$font-stack-paragraph: 'Open Sans', Helvetica, Arial, sans-serif;


//Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

//List Columns
@mixin list-column($count, $gap) {
  -moz-column-count: $count;
  -moz-column-gap: $gap;
  -webkit-column-count: $count;
  -webkit-column-gap: $gap;
  column-count: $count;
  column-gap: $gap;
}

//Rotate text
@mixin rotate-text($deg) {
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

//Box Shadow
@mixin box-shadow($vert, $blur, $color, $alpha) {
  -webkit-box-shadow: 0 $vert $blur 0 rgba($color,$alpha);
  box-shadow: 0 $vert $blur 0 rgba($color,$alpha);
}