/* Homepage Styles */

.hero-unit {
	border-top: 1px solid white;
	background-position: center center;
	background-size: cover;
	background-repeat:no-repeat;
	vertical-align: middle;

	&:before { //Transparent strip across top of hero banner
		content:"";
		display: block;
		border-top: 25px solid rgba(black, 0.15);
	}
	&:after { //Transparent strip across bottom of hero banner
		content:"";
		display: block;
		border-bottom: 25px solid rgba(black, 0.15);
	}

	.hero-content {
		padding-top: 4%;
		padding-bottom: 4%;

		text-align: center;

		h1 {
			margin: 0 0 10px;
			text-shadow: 0 3px 5px rgba(black, 0.4);

			font-weight: 400;
		  	font-size: 25px;
		  	line-height: 100%;
		  	color: white;

			@include breakpoint(sm) {
		    font-size: 40px;
		  }

			@include breakpoint(md) {
				margin: 0 0 40px;
				font-size: 52px;
			}
		}

		.well {
			display: block;
			margin: 20px auto 0; 
			width:100%;
			padding: 10px;
			background-color:rgba(black, 0.20);
			@include border-radius(5px);

			@include breakpoint(sm) {
				width:80%;
				padding: 20px;
			}

			@include breakpoint(md) {
				width:70%;
				padding: 30px;
				@include border-radius(12px);
			}
		}

		h2 {
			margin: 0 0 5px;

			font-weight: 300;
			font-size: 16px;
			line-height: 120%;
			color: white;

			@include breakpoint(sm) {
			  font-size: 18px;
			}

			@include breakpoint(md) {
			  font-size: 24px;
			}

			@include breakpoint(md) {
				margin: 0 0 10px;
			}
		}

		.cta-lg {
			margin-bottom: 10px;
			-webkit-box-shadow: 0 3px 5px 0px rgba($text-color,.25);
			box-shadow: 0 3px 5px 0px rgba($text-color,.25);

			@include breakpoint(md) {
				margin-bottom: 0;
			}
		}
	}
}

.mobile-call {
	display: none;
}
// /Hero unit


section.services {

	text-align: center;

	img {
		width: 100%;
		height: auto;
		margin: 0 auto;
		overflow: hidden;

		@include breakpoint(xs-split) {
			width:70%;
		}
	}

	h3 {
		margin-bottom: 10px;

		font-weight: 700;
		  font-size: 16px;
		  line-height: 120%;
		  color: $pri-color;

		  @include breakpoint(sm) {
		    font-size: 18px;
		  }

		  @include breakpoint(md) {
		    font-size: 20px;
		    padding-bottom: 14px;
			margin-bottom: 14px;
			border-bottom: 1px solid $sec-color;
		  }
	}

	a p {
		color: $text-color;
		margin-bottom: 10px;

		@include breakpoint(md) {
			margin-bottom: 20px;
		}
	}

	.service-modules {

		margin-bottom: 20px;

		&:after {
			content:"";
			display: block;
			border-bottom: 1px solid $sec-color;
		}

		@include breakpoint(md) {
			margin-bottom: 0;

			&:after {
				content:"";
				display: block;
				border-bottom: none;
			}
		}

		&:last-child {
			margin-bottom: 0;

			&:after {
				content:"";
				display: block;
				border-bottom: none;
			}
		}

		@include breakpoint(md) {
			min-height: 420px;

			p {
				min-height: 100px;
			}
		}
	}
}
// /Services

// Testimonials
.testimonial-bg {
	background: url('../../img/testbg.gif');
}

section.testimonials {
	text-align: center;

	h4 {
		margin-bottom:20px;
	}
}

.testimonial-box {
	display: block;
	width: 85%;
	margin: 0 auto;
	vertical-align: middle;

	p, em {
		color: white;
	}

	p {
		font-weight: bold;

		em {
			font-weight: normal;
			font-style: italic;
		}
	}
}
// /Testimonials

// Last Call
.last-call {
	text-align: center;
}
// /Last Call