.page-title {

	background: url('../../img/testbg.gif');

	h1 {
		line-height: 30px;
		text-shadow: 0 2px 5px rgba(black, 0.4);
	}

	@include breakpoint(sm) {
		h1 {
			line-height: 60px;
			text-shadow: 0 2px 6px rgba(black, 0.4);
		}
	}
}

.page-hero {

	h2, p {
		margin-top: 0;
		margin-bottom: 10px;
		color:$text-color;
		text-align: center;

		@include breakpoint(sm) {
			margin-bottom: 20px;
			text-align: left;
		}
	}

	a.cta {
		margin-top: 0;
		margin-bottom: 0;
	}

	.page-hero-img {
		max-width: 100%;
		height: auto;
		padding:0;
		overflow: hidden;
		border:1px solid white;
		@include border-radius(15px);

		img {
			height: 100%;
			max-width: auto;			
		}
	}
}

section {
	h3 {
		padding-bottom: 10px;
		border-bottom: 1px solid $accent-color;
		margin-bottom: 20px;
		margin-top: 40px;

		@include breakpoint(sm) {
			padding-bottom: 15px;
		}

		&:first-child {
			margin-top: 0px;
		}
	}

	ul {
		list-style: disc;
		color: $accent-color;
		margin-bottom: 25px;

		li {
			padding-left: 20px;
			color: $text-color;
		}
	}
}