// Buttons

.cta {
  display: inline-block;
  font-family: $font-stack-heading;
  
  //Super big button
  &.cta-lg {
    height: 44px;
    padding-top: 14px;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    margin:10px 0 20px;
    text-align: center;
    @include border-radius(100px);

    span {
      padding: 0 10px;
      width: 100%;
      text-align: center;
    }

    @include breakpoint(sm) {
      height: 44px;
      padding-top: 9px;
      padding-right: 10px;
      width: auto;
      font-size: 16px;
      text-align: left;

      span {
        line-height: 27px;
        width: auto;
        padding: 0 10px;
      }
    }

    @include breakpoint(md) {
      height: 55px;
      padding-top: 14px;
      padding-right: 10px;
      font-size: 18px;

      span {
        padding: 0 15px;
      }
    }

    @include breakpoint(lg) {
      font-size: 20px;

      span {
        padding: 0 30px;
      }
    }

    &:after {
      content:"";

      @include breakpoint(sm) {
        padding: 13px 9px 13px 11px;
        @include border-radius(100px);
        color:$cta-color;
        font-family: FontAwesome;
        content:"\f105";
        display: inline-block;
        float: right;
        text-align: right;
        line-height: 0;
        background-color: white;
      }
    }
  }

  //Button through content
  &.cta-sm {
    height: 44px;
    width: 100%;
    padding: 12px 15px;
    margin:0 0 20px;
    font-size: 15px;
    text-align: center;
    @include border-radius(100px);

    @include breakpoint(md) {
      width: auto;
    }
  }

  //Mid button
  &.cta-md {
    height: 44px;
    width: 100%;
    padding: 11px 20px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    color:white;
    @include border-radius(100px);

    @include breakpoint(sm) {
      padding-right: 10px;
      width: auto;
      text-align: left;
    }

    &:after {
      content:"";

      @include breakpoint(sm) {
        padding: 10px 7px 10px 8px;
        margin-left: 15px;
        @include border-radius(100px);
        color:$cta-color;
        font-family: FontAwesome;
        content:"\f105";
        display: inline-block;
        float: right;
        text-align: right;
        line-height: 0;
        background-color: white;
      }
    }

    &:hover {
      border:none;
    }
  }

  &.pri {
    background-color: $cta-color;
    color:white;

    @include transition-property (background-color);
    @include transition-duration(0.3s);

    &:hover {
      background-color: darken($cta-color, 15%);
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }
}


// Nav button
nav.button ul li.cta-nav {
  a {

    display: inline-block;
    font-family: $font-stack-heading;

    height: 44px;
    width: 100%;
    padding: 11px 20px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    @include border-radius(100px);

    background-color: $cta-color;
    color:white;

    @include transition-property (background-color);
    @include transition-duration(0.3s);

    @include breakpoint(sm) {
      padding-right: 10px;
      width: auto;
      text-align: left;
    }

    &:after {
      content:"";

      @include breakpoint(sm) {
        padding: 10px 7px 10px 8px;
        margin-left: 15px;
        @include border-radius(100px);
        color:$cta-color;
        font-family: FontAwesome;
        content:"\f105";
        display: inline-block;
        float: right;
        text-align: right;
        line-height: 0;
        background-color: white;
      }
    }

    &:hover {
      border:none;
      background-color: darken($cta-color, 15%);
      color:white;
    }
  }
}