div.testimonial-slider {

  margin-bottom: 20px;

  .bx-wrapper .bx-viewport {
    background: none;
    border:none;
  }

  .bx-wrapper .bx-next {
    //background: none !important;
  }

  .bx-wrapper .bx-viewport {
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0 0 0 0;
    border: 0;
    left: 0;
	}
}