// Footer

footer {
	background-color: $sec-color;

	hr {
		border-color: rgba($text-color, 0.15);
		margin: 20px 0 20px;
	}

	nav {
		display: block;
		text-align: center;

		@include breakpoint(sm) {
			width:100%;
			display: inline-block;
		}

		p.company-footer {
			border: none;
			background-color: inherit;
			text-align: center;
			margin-bottom: 15px;

			@include breakpoint(sm) {
				display: inline-block;
				margin-right: 20px;
				margin-bottom: 0;
			}		

			@include breakpoint(md) {
				float: left;
				margin-right: 20px;
			}
		}

		ul {
			text-align: center;

			@include breakpoint(sm) {
				display: inline-block;
			}	

			@include breakpoint(md) {
				display: block;
				text-align: left;
			}

			li {
				display: block;
				padding: 12px;
				margin-bottom: 10px;
				margin-left: auto;
				margin-right: auto;
				width: 90%;
				border: 1px solid rgba($text-color,0.1);
				background-color: rgba($text-color,0.02);

				a {
					color: $text-color;

					@include transition-property (color);
				  @include transition-duration(0.5s);

					&:hover {
						color: $accent-color;
					}
				}

				@include breakpoint(sm) {
					display: inline-block;
					padding: 0 20px 0 0;
					padding-left: 20px;
					margin-bottom: 0;
					width: auto;
					border: none;
					background-color: inherit;
					border-right: 1px solid rgba($text-color,0.3);

					&:first-child {
						padding-left: 0px;
					}
					&:last-child {
						padding-right: 0px;
						border-right: none;
					}
				}
			}
		}
	}

	.call-us {
		font-family: $font-stack-heading;
	  font-size: 36px;
	  font-weight: 400;
	  line-height: 50%;
	  vertical-align: top;
	  text-align: right;
	  color: $text-color;

	  &:before {
      content:"";
      margin-right: 5px;
      vertical-align: baseline;
      color: white;
      font-family: FontAwesome;
      font-size: 28px;
      content:"\f095";
    }
	}

	ul.social-badges {
		list-style: none;
		margin: 20px 0;
		border-top:1px solid rgba($text-color, 0.15);
		padding: 20px 0;

		text-align: center;

		@include breakpoint(md) {
			margin: 0;
			padding: 0;
			border-top:none;
			text-align: right;
		}

		li {
			display: inline-block;
			margin-right: 15px;
			vertical-align: middle;

			@include breakpoint(sm) {
				margin-right: 25px;
			}

			i {
				font-size: 44px;
				color: $text-color;

				@include breakpoint(sm) {
					font-size: 40px;
				}

				@include transition-property (color);
			  @include transition-duration(0.5s);

			  &.fa-facebook-square:hover {
			  	color: #3B5998;
			  }
			  &.fa-twitter-square:hover {
			  	color: #33CCFF;
			  }
			  &.fa-linkedin-square:hover {
			  	color: #4875B4;
			  }
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

}