// Header

.sticky-wrapper {

}

.sticky-header-nav {

}

header {
  padding: 20px 0;
  background-color: white;

  @include breakpoint(super-xs) {
    padding: 10px 0;
  }

  .logo {
    
    h1 {
      width: 240px;
      height: 82px;

      /* background: url('../../img/logo.png'); */
      background-repeat: no-repeat;
      background-size: 100%;

      @include breakpoint(super-xs) {
        margin-top: 5px;
        width: 150px;
        height: 49px;
      }
    }
  }

  nav {
    margin-top: 3px;

    ul {
      text-align: right;

      li {
        display: inline-block;
        margin-right: 10px;

        @include breakpoint(lg) {
          margin-right: 20px;
        }

        a {
          font-family: $font-stack-heading;
          font-size: 16px;
          color:$text-color;
          padding: 0 5px 5px;
          border-bottom: 3px solid rgba($accent-color, 0.0);

          @include transition-property (border-bottom);
          @include transition-duration(0.3s);

          @include breakpoint(lg) {
            font-size: 18px;
            padding: 0 10px 5px;
          }

          &:hover {
            color:$text-color;
            border-bottom: 3px solid rgba($accent-color, 1.0);
          }
        }

        &.current_page_item a {
          background-color: $accent-color;
          padding: 5px;
          @include border-radius(8px);
          color: white;
          border-bottom: none;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .call-us {
    display: block;
    margin-top: 3px;
    margin-right: 10px;
    text-align: right;
    font-family: $font-stack-heading;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.2px;
    color: $pri-color;

    &:before {
      content:"";
      margin-right: 5px;
      vertical-align: bottom;
      color:$accent-color;
          font-family: FontAwesome;
          content:"\f095";
    }
  }

  .mobile-nav-toggle {
    display: inline-block;
    float: right;
    margin-top: 22px;
    font-family: $font-stack-heading;
    font-size: 20px;
    color: $pri-color;

    @include breakpoint(super-xs) {
      margin-top: 20px;
      font-size: 18px;
    }

    i {
      vertical-align: middle;
      font-size: 44px;

      @include breakpoint(super-xs) {
        font-size: 35px;
      }
    }
  }
}
// /Header
