.section-fullwidth {
  width:100%;
  border-top: 1px solid white;

  &.header {
    background-color: white;
    border-bottom: 3px solid $accent-color;
    @include box-shadow(6px, 8px, black, 0.2);
  }

  &.section-strips {

    &:before { // Adds the strip to the top of the section
      content:"";
      display: block;
      border-top: 15px solid $sec-color;
    }
    &:after { // Adds the strip to the bottom of the section
      content:"";
      display: block;
      border-bottom: 3px solid $accent-color;
    }
  }

  &.page-hero {
    padding: 20px 0;
    background-color: $sec-color;

    @include breakpoint(sm) {
      padding: 40px 0;
    }
  }

  &.maps-hero {
    padding: 0;
    background-color: $sec-color;
  }
}

section, footer, header {

  &.sub-section {
    padding-top:20px;
    padding-bottom: 10px;

    @include breakpoint(sm) {
      padding-top:35px;
      padding-bottom: 20px;
    }

    @include breakpoint(md) {
      padding-top:50px;
      padding-bottom: 30px;
    } 
  }

  &.body-content {
    padding-top:20px;
    padding-bottom: 10px;

    @include breakpoint(sm) {
      padding-top:35px;
      padding-bottom: 20px;
    }

    @include breakpoint(md) {
      padding-top:40px;
      padding-bottom: 20px;
    }
  }
}

footer {
  min-height: 250px;
}