//Widgets

aside {

  &.sidebar {
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint(sm) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include breakpoint(md) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  

  nav.quicklinks-nav {
    display: block;

    span {
      display: block;
      width: 100%;
      padding: 10px 0 10px 15px;
      background-color: $pri-color;
      border-bottom: 1px solid white;
      @include border-top-radius(8px);

      font-family: $font-stack-heading;
      font-weight: 300;
      font-size: 24px;
      color: white;
    }

    ul {
      font-family: $font-stack-paragraph;
      width: 100%;
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;

      li {
        border-bottom: 1px solid white;

        a {
          display: inline-block;
          padding: 15px;
          width: 100%;
          color: $text-color;
          background-color: $sec-color;
          border-left: 5px solid $accent-color;

          &:hover {
            color: white;
            background-color: darken($sec-color,5%);
            border-left: 10px solid $accent-color;
          }
        }

        &.current_page_item {

          a {
            border-left: 10px solid $accent-color;
          }
        }

        &:last-child {
          border-bottom:none;
        }

        &:hover {
          background-color: darken($sec-color,5%);
        }
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        padding: 10px;
        background-color: $sec-color;
        border-top: 1px solid white;
        @include border-bottom-radius(8px);
      }
    }
  }
}

.quicklinks-nav-toggle {
  position: fixed;
  z-index: 99;
  margin-top: 10%;
  top:250px;
  right: -30px;
  background-color: rgba($pri-color, 0.85);
  padding: 8px 12px;
  color:white;
  font-size: 14px;
  @include border-top-radius(5px);
  @include rotate-text(270deg);

  @include breakpoint(sm) {
    margin-top: 10%;
  }
  @include breakpoint(super-xs) {
    margin-top: 30%;
  }
}

.widg-logo-bar {
  
  margin-top: 20px;
  padding-top:20px;
  padding-bottom:20px;
  border-top:1px solid $sec-color;

  @include breakpoint(sm) {
    padding-top:40px;
    padding-bottom: 40px;
  }

  ul {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      width: 40%;
      padding: 0;
      display: inline-block;
      margin-right: 4%;
      margin-bottom: 20px;
      vertical-align: middle;

      &:last-child {
        margin-bottom: 0;
      }

      @include breakpoint(sm) {
        width: 28%;
        display: inline-block;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
    } 
  }
}

.widg-hrv-logo {
  text-align: center;

  @include breakpoint(md) {
    margin-bottom: 40px;
  }

  img {
    max-width:100%;
    height: auto;
  }
}

.widg-cert-logo {
  width: 100%;

  ul {
    list-style: none;
    text-align: center;
    margin: 20px 0;
    padding: 0;

    li {
      padding: 0;
      margin-bottom: 40px;

      img {
        max-width:25%;
        height: auto;

        @include breakpoint(sm) {
          max-width:50%;
          height: auto;
        }
      }

      p {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }  
}